#### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [6]:
import pandas as pd
ds = pd.Series([4,8,15,16,23,42])
print("Pandas Series and type")
print(ds)

Pandas Series and type
0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

***
#### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [7]:
import pandas as pd
x = pd.Series([10, 20, 30, 40, 50, 60, 70, 80, 90, 100], index =['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])
print(x)

a     10
b     20
c     30
d     40
e     50
f     60
g     70
h     80
i     90
j    100
dtype: int64

***
#### Q.3. Create a Pandas DataFrame that contains the following data:

Then, print the DataFrame.

In [12]:
import pandas as pd

In [17]:
df = pd.read_excel("pandas_data.xlsx")

In [18]:
df.dtypes

Name      object
Age        int64
Gender    object
dtype: object

In [19]:
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

***
#### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

A DataFrame is a data structure that organizes data into a 2-dimensional table of rows and columns, much like a spreadsheet. DataFrames are one of the most common data structures used in modern data analytics because they are a flexible and intuitive way of storing and working with data.

#### Pandas DataFrame
* Two-dimensional
* Heterogenous – DataFrame elements can have different data types.
* Size-mutable – Elements can be dropped or added in an existing DataFrame.

#### Pandas Series
* One-dimensional
* Homogenous – Series elements must be of the same data type.
* Size-immutable – Once created, the size of a Series object cannot be changed.

***
#### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

### Some Functions for manipulating data in pandas dataframe are :

### 1. read_csv()
This is one of the most crucial pandas methods in Python. read_csv() function helps read a comma-separated values (csv) file into a Pandas DataFrame. All you need to do is mention the path of the file you want it to read. It can also read files separated by delimiters other than comma, like | or tab.

### 2. head()
head(n) is used to return the first n rows of a dataset. By default, df.head() will return the first 5 rows of the DataFrame. If you want more/less number of rows, you can specify n as an integer.

### 3. tail()
tail(n) is used to return the last n rows of a dataset. By default, df.tail() will return the last 5 rows of the DataFrame. If you want more/less number of rows, you can specify n as an integer.


### 4. describe()
describe() is used to generate descriptive statistics of the data in a Pandas DataFrame or Series. It summarizes central tendency and dispersion of the dataset. describe() helps in getting a quick overview of the dataset.

### 5. memory_usage()
memory_usage() returns a Pandas Series having the memory usage of each column (in bytes) in a Pandas DataFrame. By specifying the deep attribute as True, we can get to know the actual space being taken by each column. 

### 6. astype()
astype() is used to cast a Python object to a particular data type. It can be a very helpful function in case your data is not stored in the correct format (data type). For instance, if floating point numbers have somehow been misinterpreted by Python as strings, you can convert them back to floating point numbers with astype(). Or if you want to convert an object datatype to category, you can use astype().

***
#### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

All Pandas data structures are value mutable (can be changed) and except **Series** all are size mutable. Series is size immutable.

***
#### Q7. Create a DataFrame using multiple Series. Explain with an example.

In [21]:
import pandas as pd

courses = pd.Series(["Data Science Masters","Web-Dev","Full Stack developement"])
fees = pd.Series([3500,5000,4000])
discount  = pd.Series([350,500,400])

df=pd.concat([courses,fees],axis=1)

df=pd.concat([courses,fees,discount],axis=1)
print(df)

                         0     1    2
0     Data Science Masters  3500  350
1                  Web-Dev  5000  500
2  Full Stack developement  4000  400

***