### Q.1 What are the characteristics of the tuples? is tuple immutable ?

#### Tuples are orders , unchange and allow duplicates .tuples items are indexed the first item has index [0] the second item has index [1] etc.
1. ordes:- when we say that tuples are orderd it means that the item haa defined order and that order will not change. 
2. unchangable:-tuples are unchngable ,meaning that we cannot change add or remove items after the tuple has been created 
3. Allow duplicates :- tuples allow duplicate values 

#### For example

In [19]:
tuple=("apple","banana","cherry")
print(tuple)

('apple', 'banana', 'cherry')

***
### Q.2 What are the two tuple method in python ?give an example of each method .give reasons why tuple have only two in-built method as compare to lists ?

#### In python, tuples are immutable means you cannot change items of the tuples once it is assinged .there are only two tuples method count()and index() that a tuple object can call.
### For example:-
### count()

In [20]:
tuple=("mango","apple","mango","banana","apple",)
x=tuple.count("apple")
print(x)

2

### index()

In [21]:
tuple=(1,2,3,4,5,6,7,8)
x=tuple[0]
print(x)

1

***
### Q.3 Which collection datatypes in python do not allow duplictaes item? write a code using a set to remove duplictes from the given list ?
## list=[1,1,1,2,1,3,1,4,2,1,2,2,2,3,2,4,3,1,3,2,3,3,3,4,4,1,4,2,4,3,4,4]

#### Sets do not allow duplicte item in python.

In [23]:
# Code to remove the duplicate items in sets 

list=[1,1,1,2,1,3,1,4,2,1,2,2,2,3,2,4,3,1,3,2,3,3,3,4,4,1,4,2,4,3,4,4]
l=(set(list))
print(l)

{1, 2, 3, 4}

***
### Q.4 Explain the diffrence the union()and update()method for a set . give an exmples of each method

#### Both set.update() and set.union() performs the union opreration.however set.update() add all missing number or elements to the sets on which it is called whereas set.union() creates a new set constantly the return value of set,update() is none (with side effects )and the returns  values of set.union() is a set ( without side effect ).
## for exmaple:-

In [9]:
s={1,2,3}
s.update({4,5})
s

# the original set.s is modified and now contains five elements after the update.
# there is no return value so you need to seperately print out the set

{1, 2, 3, 4, 5}

In [15]:
set.union()
s={1,2,3}
s.union({4,5})

## the original set 's'is modifide now contains 5 elemnts after the update

{1, 2, 3, 4, 5}

***
### Q.5 what is the dictonary? give an example also state wheather a dictionary is orderd or unorderd ?

### At dictionary is an abstract data type that defines an ordered collection of data as a set of key value pairs each key which must be unique has an associated value Typically keys in the dictionary must be simple types such as there was a jar of strings while the values can be of any type. Dictionary has unorderd type of data collection
### for example :-

In [16]:
capital_city={"nepal":"kathmandu","italy":"rome"}
print(capital_city)

{'nepal': 'kathmandu', 'italy': 'rome'}

***
### Q.6 Can we create nested dictionary? If so please give an example by creating a simple one -level nested dictionary

* Yes we can create an nested dictionary. Nested dictionary is a dictionary that has many dictionary.
* for examples:-

In [18]:
people={1:{"name":"pavan","age":"28","sex":"male"},
        2:{"name":"kalyani","age":"24","sex":"female"}}
print(people)

{1: {'name': 'pavan', 'age': '28', 'sex': 'male'}, 2: {'name': 'kalyani', 'age': '24', 'sex': 'female'}}

***
### Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of the key as this list ['Python', 'Machine Learning’, 'Deep Learning'] 
* dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [6]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

dict1.setdefault(' ' ,'Deep Learning')
print(dict1)

{'language': 'Python', 'course': 'Data Science Masters', ' ': 'Deep Learning'}

***

### Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display these   three view objects for the given dictionary. 
* dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

* The main view objects of dictionary in python are **keys**, **values** and **items. They provide a non-constant view of the dictionary’s entries.
* Keys holds all the keys of the dictionary, the values objects holds all the values, whereas the items holds the key-value pairs.

In [11]:

# Example for Keys 

dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}
k = dict1.keys()
print(k)
print(type(k))

dict_keys(['Sport', 'Teams'])
<class 'dict_keys'>

In [12]:

# Example for Values

dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}
v = dict1.values()
print(v)
print(type(v))

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])
<class 'dict_values'>

In [14]:

# Example for Items

dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}
i = dict1.items()
print(i)
print(type(i))

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])
<class 'dict_items'>

***